* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
form,
input,
button {
    font-size: inherit;
    font-family: inherit;
}
.content {
    width: 1140px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    height: 57px;
    min-width: 173px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 40px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    text-align: center;
    padding: 15px 0;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.line--clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.line--clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
}

/* Header */
.header-sticky {
    padding-top: 28px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.header__nav-bar {
    display: flex;
    gap: 38px;
    margin-right: 88px;
    margin-left: auto;
}

.header__nav-item {
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #575d5e;
    padding: 10px 0;
}

.header__nav-bar li:first-child .header__nav-item {
    color: #152427;
    text-shadow: 1px 0 0;
    position: relative;
}

.header__nav-bar li:first-child .header__nav-item::after {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
    bottom: -22.5px;
}

.header__nav-item:hover {
    color: #152427;
    text-shadow: 1px 0 0;
}

.header__seperate {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

/* Hero */
.hero {
    margin-top: 60px;
    margin-bottom: 207px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
}

.hero__text {
    font-family: "Public Sans", sans-serif;
    width: 34.47%;
}

.hero__header {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #152427;
    padding-right: 25px;
}

.hero__desc {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    color: #575d5e;
    margin: 20px 0 42px;
    padding-right: 52px;
}

.hero__detail {
    display: flex;
    align-items: center;
}

.hero__btn {
    padding: 15px 0;
    margin-right: 36px;
}

.hero__watch {
    display: flex;
    align-items: center;
}

.hero-watch__text {
    margin-left: 9px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #152427;
}

.hero__img {
    width: 56.66%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
}

.hero-img__image {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero-img__image:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 77px;
    transform: translateX(-50%);
}

.hero-img__askterisk--left {
    position: absolute;
    top: -32px;
    left: -218px;
}

.hero-img__askterisk--right {
    position: absolute;
    bottom: -164.7px;
    right: 9px;
}

.hero-img__circle-blur {
    position: absolute;
    width: 340px;
    height: 340px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4dbb9a;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
}

/* Brand Selection */
.brand__row {
    width: 100%;
    height: 201px;
    display: flex;
    justify-content: space-between;
    padding: 0 121px;
    align-items: center;
    background-color: #e2eddf;
    border-radius: 100.5px;
    color: var(--primary-color);
}

.brand-wrap {
    display: flex;
    align-items: center;
}

.brand__google {
    font-size: 3.1rem;
    font-weight: 500;
}
.brand__slack {
    font-size: 3.2rem;
    font-weight: 600;
}
.brand__agworld {
    font-size: 2.6rem;
    font-weight: 400;
    margin-left: 14px;
}
.brand__riotinto {
    font-family: "Sonsie One", system-ui;
    font-size: 23px;
    font-weight: 400;
    line-height: 29.76px;
    text-align: left;
}
.brand__heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.105em;
    margin-left: 14px;
}

/* Services */
.service {
    margin-top: 106px;
    margin-bottom: 157px;
}

.service__subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0.5;
    color: #152427;
    display: flex;
}

.service__subtitle::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background-color: #152427;
    margin-right: 21px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #152427;
    width: 45.61%;
    flex-shrink: 0;
    display: inline-block;
    margin: 17px 0 76px;
}

.service__title::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #152427;
    vertical-align: middle;
    margin-left: 10px;
}

.service__control {
    margin-right: 73px;
}

.service__btn {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    text-align: center;
    color: #152427;
    margin-left: 17px;
}
.service__arrow-left,
.service__arrow-right {
    vertical-align: middle;
}

.service__arrow-right {
    rotate: 180deg;
}
.service__btn:hover {
    background-color: #143c3c;
    color: white;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

.service__item {
    overflow: hidden;
    border-radius: 20px;
    height: 477px;
    transition: 0.2s ease-in;
}

.service__item:hover {
    box-shadow: -6px 9px 64px -4px #76767640;
    cursor: pointer;
}

.service__item:hover .service-item__img {
    opacity: 1;
}

.service-item__img {
    height: 318px;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in;
    opacity: 0.7;
}

.service-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #152427;
    margin-top: 18px;
    margin-bottom: 13px;
    padding: 0 18px;
}

.service-item__desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    color: #7d8188;
    padding: 0 18px;
}

/* About Us */
.about__row {
    display: flex;
    align-items: flex-start;
}

.about__img {
    width: 51.85%;
    height: 557px;
    position: relative;
    flex-shrink: 0;
}

.about__img--left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px #3b894740;
}

.about__img--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px #3b894740;
}

.about__askterisk {
    position: absolute;
    z-index: 1;
    top: -31px;
    left: 46px;
}

.about__card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    width: 143px;
    height: 144px;
    background: #ffffff;
    box-shadow: 0px 7px 54px 0px #9a9a9a40;
    border-radius: 8px;
    padding: 19px 22px 11px;
}

.abt-card__title {
    font-family: "Public Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #152427;
}

.abt-card__desc {
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #575d5e;
    margin: 6px 0 10px;
    opacity: 0.4;
}

.abt-card__percent {
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color: #152427;
    margin-bottom: 3px;
}

.abt-card__bar {
    display: block;
}

.abt-card__load {
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
    color: #152427;
    margin-bottom: 3px;
}

.abt-card__team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team__text {
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color: #152427;
}
.team__list {
    display: flex;
}

.team__avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    object-fit: cover;
    margin-left: -6px;
    display: block;
}

.about__text {
    margin-left: 64px;
}

.about__subtitle {
    font-weight: 500;
    line-height: 1.125;
    color: #143c3c;
}

.about__subtitle::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
    vertical-align: middle;
    margin-right: 21px;
}

.about__title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #143c3c;
    margin: 20px 0 11px;
}

.about__desc {
    font-weight: 500;
    line-height: 1.625;
    color: #7d8188;
    margin-bottom: 36px;
}

.about__count {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #83a17d;
    padding-bottom: 20px;
    margin-top: 38px;
}

.abt-count__percent {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #152427;
}

.abt-count__desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
    color: #7d8188;
}

/* Process */
.process {
    margin: 115px 0 148px;
}

.process__subheader {
    font-weight: 500;
    line-height: 1.125;
    color: #152427;
}

.process__subheader::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
    vertical-align: middle;
    margin-right: 21px;
}

.process__header {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #152427;
    margin: 20px 0 81px;
    width: 42.8%;
}

.process__header::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #152427;
    vertical-align: middle; /*work with line-height of parent */
    margin-left: 10px;
}

.process__item {
    border-image: linear-gradient(90deg, #fff 0%, #83a17d 50%, #fff 100%) 30 / 0
        0 1px 0;
    padding: 65px 41px 65px 20px;
    transition: 0.2s ease;
    position: relative;
}

.process__item:hover {
    background-color: #e2eddf;
    border-radius: 33px;
    border-image: none;
}

.process__item:hover .process__desc {
    opacity: 0;
    cursor: default;
}

.process__item:hover .process__link {
    visibility: visible;
}

.process__item:hover .process__img {
    opacity: 1;
    pointer-events: auto;
}

.process__item:hover .process__row {
    padding-left: 10px;
}

.process__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
}

.process__order {
    font-size: 7.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.process__wrap {
    margin-left: 64px;
    margin-right: auto;
    position: relative;
}

.process__title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__link {
    position: absolute;
    left: 0;
    bottom: -40px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: #575d5e;
    visibility: hidden;
}

.process__link:hover {
    text-decoration: underline;
}

.process__desc {
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7d8188;
    width: 50.17%;
    transition: 0.2s ease;
}

.process__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    opacity: 0;
    transition: 0.2s ease;
    pointer-events: none; /* user cannot interact */
}

/* Intro */
.intro {
    background-color: #143c3c;
    padding: 116px 0 63px;
}

.intro__header {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #e7f9f9;
    width: 40%;
    flex-shrink: 0;
    margin-right: 93px;
}

.intro__header::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #83a17d;
    vertical-align: middle;
    margin-left: 10px;
}

.intro__text {
    display: flex;
    align-items: flex-end;
    margin-bottom: 72px;
    position: relative;
}

.into__desc {
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: #6a8383;
    margin-bottom: 13px;
}

.intro__link {
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: white;
    margin-right: 26px;
}

.intro__askterisk {
    position: absolute;
    right: -97.3px;
    top: 2px;
}

.intro__video {
    width: 1140px;
    height: 544px;
    /* object-fit: cover; */
    border-radius: 22px;
}

/* Feature */
.feature {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 184px;
}

.feature__title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #152427;
    width: 45.6%;
    margin: auto;
}

.feature__desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
    color: #7d8188;
    margin: 20px auto 173px;
    width: 48%;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature__item {
    text-align: center;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    padding: 79px 37px;
    transition: 0.4s ease;
}

.feature__item:hover {
    box-shadow: 0px 36px 100px 0px #6f786f33;
    transform: translateY(-59px);
    border: 1.5px solid #fff;
}

.feature-item__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: #152427;
    margin-top: 24px;
    margin-bottom: 9px;
}

.feature-item__desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
    color: #7d8188;
}

/* Blogs */
.blog__subtitle {
    font-weight: 500;
    line-height: 1.125;
    color: #152427;
}

.blog__subtitle::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
    vertical-align: middle;
    margin-right: 21px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 90px;
}

.blog__header {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: #152427;
    width: 51%;
}

.blog__header::after {
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background-color: #152427;
    vertical-align: middle; /*work with line-height of parent */
    margin-left: 10px;
}

.blog__desc {
    width: 35.87%;
    font-weight: 500;
    line-height: 1.625;
    color: #7d8188;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 521px;
    gap: 30px;
}

.blog__item {
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.blog__item:hover {
    box-shadow: 0px 12px 74px 0px #5b5b5b40;
    cursor: pointer;
}

.blog__item:hover .blog__text {
    padding: 0 33px 0 30px;
}

.blog__item:hover .blog-item__stories {
    background-color: var(--primary-color);
    color: white;
}

.blog-item__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
}

.blog__text {
    margin: 26px 0 12px;
    display: flex;
    flex-direction: column;
    height: 166px;
    transition: 0.3s ease;
}

.blog-item__stories {
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background-color: #e2eddf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    transition: 0.3s ease;
}

.blog-item__title {
    margin: 13px 0 38px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #143c3c;
    margin: 13px 0 9px;
    flex-grow: 1;
}

.blog-item__date {
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #575d5e;
    margin-top: 8px;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    padding: 72px 0 50px;
    margin-top: 102px;
}

.footer__container {
    border-image: linear-gradient(
            90deg,
            #143c3c 2.28%,
            #295a5a 55.65%,
            rgba(38, 82, 82, 0) 102.06%
        )
        30;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 45px;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__header {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
}

.footer__form {
    border-bottom: 1px solid #6a8383;
    padding-bottom: 32px;
    display: flex;
    width: 354px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 47px;
}

.footer__input {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
}

.footer__input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__btn {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer__social {
    display: flex;
    gap: 22px;
}

.footer-soc__btn {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.footer-soc__btn:hover {
    background: #a75325;
    border: 1px solid #a75325;
}

.footer__contact {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 50px;
}

.contact__header {
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: white;
    margin-bottom: 6px;
}

.contact__item {
    margin-bottom: 5px;
    color: #6a8383;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    line-height: 2.25;
}

.contact__item:hover {
    text-decoration: underline;
}
